<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">


	<!--job存储使用持久化存储方案时，用于job初始化，不会覆盖已存在的 -->
	<bean name="quartzInitListener" class="com.wa.framework.quartz.JobInit">
		<property name="scheduler" ref="scheduler" />
		<property name="jobs">
			<list>
				<ref bean="demoJob" />
				<ref bean="refreshCacheJob" />
			</list>
		</property>
	</bean>

	<bean name="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no" lazy-init="false">
		<!-- job存储使用持久化存储方案时指定的数据源 -->
		<property name="dataSource" ref="dataSource" />
		<property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
		<!-- quartz.properties配置文件路径 -->
		<property name="configLocation" value="classpath:properties/quartz.properties" />
		<property name="autoStartup" value="true" />
	</bean>

	<!--此处定义一个demojob -->
	<bean name="demoJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<!-- job类名 -->
		<property name="jobClass" value="com.wa.framework.quartz.job.DemoJob"></property>
		<!-- job名字 注意同一组别重复 -->
		<property name="name" value="demoJob"></property>
		<!-- job存储使用持久化存储方案时 必须设置为true -->
		<property name="durability" value="true"></property>
		<!-- job描述 -->
		<property name="description" value="demoJob,仅做demo用"></property>
	</bean>
	
	<!--定义刷新内存refreshCacheJob -->
	<bean name="refreshCacheJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<!-- job类名 -->
		<property name="jobClass" value="com.wa.framework.quartz.job.RefreshCacheJob"></property>
		<!-- job名字 注意同一组别重复 -->
		<property name="name" value="refreshCacheJob"></property>
		<!-- job存储使用持久化存储方案时 必须设置为true -->
		<property name="durability" value="true"></property>
		<!-- job描述 -->
		<property name="description" value="刷新用户缓存，提高登录性能"></property>
	</bean>

</beans>
